*{
  text-decoration:none;
  list-style:none;
  margin:0px;
  padding:0px;
  outline:none;
  box-sizing: border-box;
}
body{
  margin:0px;
  padding:0px;
  font-family: 'Open Sans', sans-serif;
}



nav{

  background-color:#003333!important;
  color: white;


}
